{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}



  <!--/ Services Star /-->
  <section class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a"></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Services End /-->

        <!--/ News Star /-->
        <section class="section-news section-t8">
          <div class="container">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                      <div class="card-box-ico">
                        <div class="card-title-c align-self-center row">
                          <span class="fa fa-edit">Magic stuff</span>
                        </div>
                        <h2 class="title-c"></h2>
                      </div>
                    </div>
                    <div class="card-body-c">
                      <p class="content-c">
                        <form role="form" class="form" method="post">
                            {{ form.csrf_token() }}
                          <div class="row">
                            {{form.name.label}}{{form.name(class_="form-control", placeholder="Name")}}
                          </div><br>
                          <div class="row">
                            {{form.sex.label}}
                            <table>
                              <tr>
                            {% for gender in form.sex %}
                            <td>
                            {{gender(class_="form-control")}}<br>
                            {{gender.label}}
                            </td>
                            {% endfor %}
                            </tr>
                            </table><br>
                          </div>
                          <div class="row inline"><br>
                            {{form.job.label}}{{form.job(class_="form-control")}}
                            {{form.age.label}}{{form.age(class_="form-control")}}
                            {{form.size.label}}{{form.size(class_="form-control")}}
                          </div>
                          <div class="row"><br>
                            {{form.KK.label}}{{form.KK(class_="form-control")}}
                            {{form.AU.label}}{{form.AU(class_="form-control")}}
                            {{form.GE.label}}{{form.GE(class_="form-control")}}
                            {{form.IN.label}}{{form.IN(class_="form-control")}}
                            {{form.CH.label}}{{form.CH(class_="form-control")}}
                            {{form.MB.label}}{{form.MB(class_="form-control")}}
                            {{form.ATN.label}}{{form.ATN(class_="form-control")}}
                            {{form.PA.label}}{{form.PA(class_="form-control")}}
                            {{form.INI.label}}{{form.INI(class_="form-control")}}
                            {{form.LE.label}}{{form.LE(class_="form-control")}}
                            {{form.GG.label}}{{form.GG(class_="form-control")}}
                          </div>
                      </form>
                      </p>
                    </div>
                    <div class="card-footer-c">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/ News End /-->


{% endblock %}
