{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<!--/ News Star /-->
<section class="section-news section-t8">
  </section>
  <!--/ Services Star /-->
  <section class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a"><span class="color-b">H</span>ow <span class="color-b">t</span>o <span class="color-b">b</span>e <span class="color-b">a</span> <span class="color-b">h</span>ero Character Generator</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-gamepad"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Why this generator</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                This character generator should help you with the process of creating and maintaining a HbtaH Character over your sessions. <br>
                <i>It is still work in progress</i>
              </p>
            </div>
            <div class="card-footer-c">
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--/ Services End /-->


        <!--/ News Star /-->
        <section class="section-news section-t8">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                  <div class="title-box">
                    <h2 class="title-a">Latest Creation</h2>
                  </div>
                  <div class="title-link">
                    <a href="blog-grid.html">All Creation
                      <span class="ion-ios-arrow-forward"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div id="new-carousel" class="owl-carousel owl-theme">
              {% for item in creations %}
              <div class="carousel-item-c">
                <div class="card-box-b card-shadow news-box">
                  <div class="img-box-b">
                    <img src="{{ url_for('static', filename='img/post-2.jpg')}}" alt="" class="img-b img-fluid">
                  </div>
                  <div class="card-overlay">
                    <div class="card-header-b">
                      <div class="card-category-b">
                        <a href="#" class="category-b">{{item.title}}</a>
                      </div>
                      <div class="card-title-b">
                        <h2 class="title-2">
                          <a href="#">{{item.text}}</a>
                        </h2>
                      </div>
                      <div class="card-date">
                        <span class="date-b">{{item.created_date}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </section>
        <!--/ News End /-->


{% endblock %}
